<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_task</title>
</head>
<body>
    <h1>Add task</h1>
    <form method="POST" action="{% url 'add_task' %}">
        {% csrf_token %}
        <label for="title">Task Title:</label>
        <input type="text" name="title" id="title" required>
        <label for="description">Task Description:</label>
        <input type="text" name="description" id="description" required>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>