<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_task</title>
</head>
<body>
    <h1>Update task</h1>
    {% csrf_token %}
    <form action="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ task.title }}">
        <label for="description">Description</label>
        <textarea name="description" id="description">{{ task.description }}</textarea>
        <button type="submit">Update</button>
        <a href="{% url "task_list" %}">cancel</a>
    </form>
</body>
</html>